

.header{
    background-color: #128c7e;
    width: 100%;
    height: 91px;
    display: flex;
}
body{
    margin: 0%;
    
}
.logo{
    width: 18%;
    padding-left: 150px;
    padding-top: 24px;
}
.login{
    width: 70%;
    margin-top: 37px;

}
.login a{
    color: #fff;
    padding-left: 25px;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
   


}
.globe {
    height: 15px;

}
.main-body{
    display: flex;
}
.left-section{
    width: 50%;
    text-align: left;
    padding-left: 281px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 43px;
    padding-top: 91px;
    height: 700px;
    

    
}
.right-section{
    width: 50%;
    height: 700px;
    
}
.sticker{
    width: 15px;
    height:10px;
    display: flex;
    padding:10px;
    padding-left: 115px;
    position: absolute;
}
.img1{

    width: 326px;
    padding-top: 47px;
    padding-right: 332px;
}
.item{
    
    padding-left: 115px;

}
.left-section a{
    text-decoration: none;
    color:  #1cb39b;


}

.main-second{
    display: flex;
    justify-content: space-between;
    padding-top: -93px;


}
.left-side{
    text-align: center;
    background-color:#D8E8EA;
    width: 664px;
}
.img2{
    width: 372px;
}

    

.para1 a{
    text-decoration: none;
    color:  #1cb39b;
    
    font-size: 18px;
    line-height: 26px;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;

}
#content{
    font-size: 18px;
}
.para1{
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.imgphone{
    width:  368px;;
}

.right-side{
    text-align: center;
    background-color: #E7F0E4;
    width: 664px;
}
.colo{
    color: #5E5E5E;
}
.para2{
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}
.button{
    margin-top: 74px;
    margin-left:  575px;

    border-radius: 10px;
    
    background: #fff;
    border: 2px solid #77d7c8;
    border-radius: 40px;
    padding: 16px 32px;
    text-align: center;
    margin-bottom: 80px;


}
.last-dd a{
    
    
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #128c7e;
    text-decoration: none;
   height: 248px;

    width: 100%;
}
.footer{
    background-color:#273443 ;
    width: 100%;
    display: flex;
    color: #F0F4F9;
    justify-content: space-evenly;

    

}
.list {
    color: #F0F4F9;
    list-style: none;
    text-decoration: none;

}
ul li{
    text-decoration: none;
    list-style: none;
    color: #F0F4F9;

}
ul li a{
    text-decoration: none;
    color: #F0F4F9;
    line-height: 31px;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;

}
h3{
    margin: 42px;
}
.footer2{
    display: flex;
    justify-content: space-around;
    background-color: #1c1e21;
}
.list2{
    color: #F0F4F9;
    
    font-size: 18px;
    line-height: 26px;
    margin-left: -36px;;

    

    

}

